@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

  /* Primary Container Width */
  --container-width-large: 82%;
  /* For 1920px */
  --container-width-medium: 90%;
  /* For 768px */
  --container-width-small: 92%;
  /* For 640px */

  /* ------------- COLORS ------------- */
  /* Default Light Theme (por defecto) */
  --main-bg-color: #e6e9f2;
  --main-text-color: #000000;

  /* Primary Color */
  --primary-color: var(--primary-color-600);
  --button-bg-color: var(--primary-color-600);
  --button-text-color: #ffffff;

  /* Main Color */
  --main-color-600: #0083f8;
  --main-color-white: #ffffff;

  /* Primary Colors */
  --primary-color-50: #e2f2ff;
  --primary-color-100: #b9ddff;
  --primary-color-200: #8ac8ff;
  --primary-color-300: #56b2ff;
  --primary-color-400: #25a1ff;
  --primary-color-500: #0091ff;
  --primary-color-600: #0083f8;
  --primary-color-700: #0070e4;
  --primary-color-800: #005fd2;
  --primary-color-900: #003eb3;

  /* Neutral Colors */
  --neutral-color-50: #f7f8fa;
  --neutral-color-100: #f0f1f5;
  --neutral-color-200: #e9eaf0;
  --neutral-color-300: #ccdce9;
  --neutral-color-400: #aeb1bf;
  --neutral-color-500: #9295a6;
  --neutral-color-600: #7c7080;
  --neutral-color-700: #545786;
  --neutral-color-800: #2d2833;
  --neutral-color-900: #090a0d;

  /* Success Colors */
  --success-color-50: #e0fdf5;
  --success-color-100: #d1fae5;
  --success-color-200: #a7f3d0;
  --success-color-300: #6ee7b7;
  --success-color-400: #34d399;
  --success-color-500: #10b981;
  --success-color-600: #059669;
  --success-color-700: #047857;
  --success-color-800: #065f46;
  --success-color-900: #064e3b;

  /* Warning Colors */
  --warning-color-50: #fcecf5;
  --warning-color-100: #f9d9e5;
  --warning-color-200: #f7b7c0;
  --warning-color-300: #f48a8b;
  --warning-color-400: #f1606d;
  --warning-color-500: #eb4456;
  --warning-color-600: #d9354c;
  --warning-color-700: #bf2a44;
  --warning-color-800: #a41f39;
  --warning-color-900: #8b1431;

  /* Dark Theme Colors */
  --dark-theme-main-color: #121318;
  --dark-theme-background: #080808;
}

/* Dark Theme cuando el data-theme="dark" */
[data-theme="dark"] {
  --main-bg-color: #080808;
  --main-text-color: #ffffff;

  --primary-color: var(--dark-theme-main-color);

  --button-bg-color: var(--dark-theme-main-color);
  --button-text-color: #ffffff;
}



/* ------------- RESETS ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: .2rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: background-color 0.3s, color 0.3s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  border: none;
  background: none;
}